{% extends 'main/base.html' %} 
{% block content %} 
{% include 'main/nav.html' %}
 <div class="container">
    <h1 class="center-align">Skills🖤</h1>
   <div class="row">
     <ul class="collection">
        <li class="collection-item">Programming: Python, Basic Java</li>
        <li class="collection-item">Technologies: HTML, CSS, JavaScript, React.js, Express.js, Node.js, AWS</li>
        <li class="collection-item">DataBase: SQL, MongoDB Basics</li>
        <li class="collection-item">Tools: Git Version Control, VS Code</li>
     </ul>
   </div>
 </div>
{% endblock %}